<!DOCTYPE html>
<html>
<head>
    <meta META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
    <script src="/js/vendor/angular/angular-1.0.7.js"></script>
    <!--script src="/build/angularjs-websocket-mongodb.min.js"></script-->
    <script src="/build/angularjs-websocket-mongodb.js"></script>
    <style type="text/css">
        form input.ng-invalid.ng-dirty {
            background-color : red;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color : red;
        }
    </style>

</head>
<body ng-app="app">
<div ng-controller="UsuariosCtrl">
    <cd-datagrid data="data">
        <cd-datagrid-columns>
            <cd-datagrid-column property="nombre" order="ASC" text="Nombre"></cd-datagrid-column>
            <cd-datagrid-column property="apellido" text="Apellido"></cd-datagrid-column>
        </cd-datagrid-columns>
    </cd-datagrid>
    <br/><br/>

    <form novalidate>
        nombre: <input type="text" ng-model="usuario.nombre" required/><br/>
        apellido: <input ng-model="usuario.apellido" required/><br/>
        nif: <input type="text" ng-model="usuario.nif"/><br/>
        <button ng-click="reset()">Resetear</button>
        <button ng-click="save(usuario)" ng-disabled="form.$invalid">Guardar</button>
    </form>
</div>
</body>
</html>