<!DOCTYPE html>
<html>
<head>
    <meta META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
    <script src="/js/vendor/angular/angular.js"></script>
    <!--script src="/build/angularjs-websocket-mongodb.min.js"></script-->
    <script src="/build/angularjs-websocket-mongodb.js"></script>
    <style type="text/css">
        form input.ng-invalid.ng-dirty {
            background-color : red;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color : red;
        }
    </style>

</head>
<body ng-app="app">
<div ng-controller="UsuariosCtrl">
    <cddatagrid data="data">
        <cdcolumns>
            <cdcolumn property="nombre" text="Nombre"></cdcolumn>
            <cdcolumn property="apellido" text="Apellido"></cdcolumn>
        </cdcolumns>
    </cddatagrid>
    <br/><br/>

    <form novalidate>
        nombre: <input type="text" ng-model="usuario.nombre" required/><br/>
        apellido: <input ng-model="usuario.apellido" required/><br/>
        nif: <input type="text" ng-model="usuario.nif"/><br/>
        <button ng-click="reset()">Resetear</button>
        <button ng-click="save(usuario)" ng-disabled="form.$invalid">Guardar</button>
    </form>
</div>
</body>
</html>